<div class="error">
    <div class="error-message">
        <div class="square">
            <span class='title'>{{ code }}</span>
            <h4>Ooops... Algo saiu errado!</h4>
        </div>
    </div>
</div>