<div class="error">
    <div class="error-message">
        <div class="square">
            <span class='title'>{{ code }}</span>
            <h3>{{ httpErrorMessage }}</h3>
        </div>
    </div>
</div>