@charset "UTF-8";
body{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #eee !important;
    text-align: center !important;
}

.container{
    background-color: rgba(0, 0, 0, .45);
    border-radius: 20px;
    padding: 30px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    box-shadow: 0 0 30px #444;
}

.footer-msg{
    background: rgba(0,0,0, .2);
    padding: 0 15px;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 20px;
}