<div id="home">
    <div class="container">
        <div class="home">
            <img class="relax-img" src="{{ assets }}img/scooby_logo.svg" alt="Foto de uma pessoa relaxando na praia">
            <h2 class="center">
                <b>ScoobY Framework</b>
            </h2>
            <h5>
                {{ wellcomeMessage }}
            </h5>
            <footer class="">
                <span class="right footer-msg"> Feito em <i class="red-text"><strong>Pria Grande </strong></i>- SP<i
                        class="material-icons right red-text">favorite</i></span>
            </footer>
        </div>
    </div>
</div>